.bg {
  background: linear-gradient(
    90deg,
    rgba(115, 53, 187, 0.05) 0%,
    rgba(135, 71, 214, 0.05) 100%
  );
  border-radius: 16px;
  width: 100%;
  padding-block: 4rem;
}

.event {
  box-shadow: 5.1px 10.2px 30.6px 0px #34115a0d;
}

.peopleicon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 6.25rem;
  border: 1px solid #0078d4;
  background: #d59dff;
  box-shadow: 4px 8px 24px 0px rgba(52, 17, 90, 0.05);
  margin-right: -0.75rem;
}

.peopleicon:last-child {
  margin-right: 0;
}

.registerbtn {
  border-radius: 1rem;
  display: inline-flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
}

.registerbtn > span {
  background: linear-gradient(90deg, #7335bb 0%, #8747d6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.backbtn {
  border-radius: 0.40125rem;
  background: #d59dff;
  box-shadow: 2.067px 4.134px 12.402px 0px rgba(52, 17, 90, 0.05);
  display: flex;
  width: 3.26rem;
  height: 3.26rem;
  padding: 0.677rem 0.77744rem 0.77744rem 0.677rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.vieweventsbtn {
  border-radius: 1rem;
  background: linear-gradient(90deg, #7335bb 0%, #8747d6 100%);
  display: inline-flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.vieweventsbtn > span {
  color: #fff;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
