@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe";
  font-weight: 200;
  src: local("Segoe"),
    url("/fonts/ClashDisplayExtralight.otf") format("opentype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 300;
  src: local("Segoe"), url("/fonts/ClashDisplayLight.otf") format("opentype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 400;
  src: local("Segoe"), url("/fonts/SegoeUI.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 500;
  src: local("Segoe"), url("/fonts/ClashDisplayMedium.otf") format("opentype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 600;
  src: local("Segoe"), url("/fonts/ClashDisplaySemibold.otf") format("opentype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 700;
  src: local("Segoe"), url("/fonts/SegoeUIBold.ttf") format("truetype");
}

.img-white-filter {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(65deg)
    brightness(115%) contrast(110%);
}

.hero-bg {
  background-image: url("/images/hero-image-mask-group.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 2560px) {
  .text-header {
    font-size: 72px;
  }
  .text-sub {
    font-size: 40px;
  }
  .text-btn {
    font-size: 28px;
  }
  .pill {
    width: 500px;
  }
  .logo-img {
    width: 150px;
  }
}
