@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe";
  font-weight: 200;
  src: local("Segoe"),
    url("/fonts/ClashDisplayExtralight.otf") format("opentype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 300;
  src: local("Segoe"), url("/fonts/ClashDisplayLight.otf") format("opentype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 400;
  src: local("Segoe"), url("/fonts/SegoeUI.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 500;
  src: local("Segoe"), url("/fonts/ClashDisplayMedium.otf") format("opentype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 600;
  src: local("Segoe"), url("/fonts/ClashDisplaySemibold.otf") format("opentype");
}
@font-face {
  font-family: "Segoe";
  font-weight: 700;
  src: local("Segoe"), url("/fonts/SegoeUIBold.ttf") format("truetype");
}

.img-white-filter {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(65deg)
    brightness(115%) contrast(110%);
}

.milestone {
  background: linear-gradient(
    90deg,
    rgba(52, 17, 90, 0.64) 0%,
    rgba(81, 40, 123, 0.4) 100%
  );
}

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}

.float {
  transition: ease 0.5s;
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
}

.hero-bg {
  background-image: url("/images/hero-image-mask-group.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile-hero {
  background-image: url("/images/mobile-hero.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 2560px) {
  .text-header {
    font-size: 72px;
  }
  .text-sub {
    font-size: 40px;
  }
  .text-btn {
    font-size: 28px;
  }
  .pill {
    width: 500px;
  }
  .logo-img {
    width: 150px;
  }
}

@media (max-width: 2559px) and (min-width: 1365px)  {
  .text-header {
    font-size: 48px;
  }

  .splide__slide .slide-container {
    padding: 1.5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
  }

  .splide__slide .slide-image-container img {
    width: 484px;
    aspect-ratio: 1 / 1;
  }

  .splide__slide .slide-data,
  .splide__slide .slide-stats {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .splide__slide.is-active .slide-container {
    box-shadow: 5.1px 10.2px 30.6px 0px #34115a0d;
    background-color: white;
    padding-top: 1.5rem;
  }

  .splide__slide.is-active .slide-image-container img {
    transition: all 0.3s ease;
    width: 100%;
    aspect-ratio: 1.4 / 1;
  }

  .splide__slide.is-active .slide-data,
  .splide__slide.is-active .slide-stats {
    opacity: 1;
    visibility: visible;
  }

  .splide__slide.is-active .slide-data {
    display: grid;
  }

  .splide__slide.is-active .slide-stats {
    display: flex;
  }
}